// Colors
$color-primary: #00ADB5;
$color-primary-light: #14FFEC;
$color-primary-dark: #0D7377;

$color-secondary-light: #393E46;
$color-secondary-dark: #222831;

$color-tertiary-light: #29ff46;
$color-tertiary-dark: #5e43fa;

$color-grey-light-1: #EEEEEE;
$color-grey-light-2: #BBB;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font Sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Random  
$home-skew-amount: 6deg;
$home-skew-amount-2: 12deg;
$border-radius-pixels: 3px;
$metaball-brightness: 25%;