@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateY(-10rem);
    }
  
    80% {
      opacity: 0.5;
      transform: translateY(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
  
    80% {
      opacity: 0.5;
      transform: translateY(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg)
    }
  }
  @keyframes move {
    0% {
      transform: translate(0%, 150%) scale(.5);
      -webkit-filter: blur(7px) brightness($metaball-brightness);
      filter: blur(7px) brightness($metaball-brightness);
    }
    15% {
      transform: translate(-820%, 460%) scale(.3);
      -webkit-filter: blur(4px) brightness($metaball-brightness);
      filter: blur(4px) brightness($metaball-brightness);
    }
    30% {
      transform: translate(700%, -180%) scale(.5);
      -webkit-filter: blur(7px) brightness($metaball-brightness);
      filter: blur(7px) brightness($metaball-brightness);      
    }
    40% {
      transform: translate(-440%, 380%) scale(.7);
      -webkit-filter: blur(10px) brightness($metaball-brightness);
      filter: blur(10px) brightness($metaball-brightness);
    }
    60% {
      transform: translate(440%, -280%) scale(1);
      -webkit-filter: blur(14px) brightness($metaball-brightness);
      filter: blur(14px) brightness($metaball-brightness);
    }
    80% {
      transform: translate(-660%, -120%) scale(1.2);
      -webkit-filter: blur(18px) brightness($metaball-brightness);
      filter: blur(18px) brightness($metaball-brightness);
    }
    100% {
      transform: translate(760%, 160%) scale(1);
      -webkit-filter: blur(14px) brightness($metaball-brightness);
      filter: blur(14px brightness($metaball-brightness));
    }
  }