@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateY(-10rem);
    }
  
    80% {
      opacity: 0.5;
      transform: translateY(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
  
    80% {
      opacity: 0.5;
      transform: translateY(-1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg)
    }
  }
  @keyframes move {
    0% {
      transform: translate(0%, 100%) scale(.5);
      -webkit-filter: blur(7px);
      filter: blur(7px);
    }
    15% {
      transform: translate(-820%, 260%) scale(.3);
      -webkit-filter: blur(4px);
      filter: blur(4px);
    }
    30% {
      transform: translate(700%, -80%) scale(.5);
      -webkit-filter: blur(7px);
      filter: blur(7px);      
    }
    40% {
      transform: translate(-440%, 280%) scale(.7);
      -webkit-filter: blur(10px);
      filter: blur(10px);
    }
    60% {
      transform: translate(440%, -80%) scale(1);
      -webkit-filter: blur(14px);
      filter: blur(14px);
    }
    80% {
      transform: translate(-660%, -20%) scale(1.2);
      -webkit-filter: blur(18px);
      filter: blur(18px);
    }
    100% {
      transform: translate(760%, 60%) scale(1);
      -webkit-filter: blur(14px);
      filter: blur(14px);
    }
  }